module/visualization.py.bak
module/__pycache__/categorize_data.cpython-312.pyc
module/__pycache__/visualization.cpython-312.pyc
module/categorize_data.py.bak
module/analysis.py
module/analysis.ipynb.bak
images/anxiety_satisfaction.png
images/anxiety_age_employment.png
module/clean_data.csv
